.brand{
    background-color: rgb(30, 120, 120);
    display: flex;
    float: left;
    width: 100%;
    padding: 10px;
    align-items: flex-start;
}

.brand-name{
    padding-left: 30px;
    padding-top: 5px;
    color: aliceblue;
    /* padding-right: 70px; */
}

.nav-button{

    margin-right: 200px;
    border-radius: 8px;
    border: 1px solid transparent;
    position: relative;
    float: right;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
}